.navbar {
    background: darkred;
    color: white;
    border: 3px solid black;
    height: 100px;
    width: 100%;
    flex-wrap: unset;
  }

  .center {
    position: relative;
    font-family: serif;
    left: 43%;
    top: 0%;
  }