@media only screen and (min-width: 375px) {
  .navbar-portal {
    width: 100%;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  }
  .header-wrapper {
    width: 375px;
    height: 80px;
    margin: 0px auto;
  }
  .container {
    background: url("/static/images/logo-no-text.png");
    background-size: 60% auto;
    position: absolute;
    width: 93.67px;
    height: 99.29px;
    left: 8px;
    top: 11px;
    background-repeat: no-repeat;
  }
  .title {
    position: absolute;
    width: 119.02px;
    height: 19.38px;
    left: 65px;
    top: 30.91px;
    font-size: 15px;
    line-height: 18px;
    font-family: sans-serif;
    color: #121212;
    font-weight: 600;
  }
  .logout-container {
    position: absolute;
    width: 123px;
    height: 80px;
    left: 238px;
    top: -2px;
  }
  .logout-icon {
    position: absolute;
    width: 15px;
    height: 25px;
    left: 93.1px;
    top: 30px;
  }
  .btn {
    position: absolute;
    width: 140.66px;
    height: 83.38px;
    left: -22px;
    top: 2px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 66px;
    color: #ae2718;
  }
  .logout-underscore {
    position: absolute;
    width: 95px;
    height: 0px;
    left: 13px;
    top: 58px;
    border: 1px solid #ae2718;
  }
}

@media (min-width: 834px) {
  .navbar-portal {
    width: 100%;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  }
  .header-wrapper {
    width: 834px;
    height: 80px;
    margin: 0px auto;
  }
  .container {
    background: url("/static/images/logo-no-text.png");
    background-size: 80% auto;
    position: absolute;
    width: 100.67px;
    height: 99.29px;
    left: 13px;
    top: -2px;
    background-repeat: no-repeat;
  }
  .title {
    position: absolute;
    width: 119.02px;
    height: 19.38px;
    left: 93px;
    top: 30.91px;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 18px;
    color: #121212;
  }
  .logout-container {
    position: absolute;
    width: 184px;
    height: 80px;
    left: 649px;
    top: -3px;
  }
  .logout-icon {
    position: absolute;
    width: 35px;
    height: 30px;
    left: 142.1px;
    top: 25px;
  }
  .btn {
    position: absolute;
    width: 204.66px;
    height: 83.38px;
    left: -22px;
    top: -1px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 66px;
    color: #ae2718;
  }
  .logout-underscore {
    position: absolute;
    width: 75px;
    height: 0px;
    left: 45px;
    top: 58px;
    border: 1px solid #ae2718;
  }
}

@media (min-width: 1440px) {
  .navbar-portal {
    width: 100%;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
  }
  .header-wrapper {
    width: 1440px;
    height: 80px;
    margin: 0px auto;
  }
  .container {
    background: url("/static/images/logo-no-text.png");
    background-size: 150% auto;
    position: relative;
    width: 100.67px;
    height: 99.29px;
    left: -470px;
    top: -25px;
  }
  .title {
    position: relative;
    width: 119.02px;
    height: 19.38px;
    left: 329px;
    top: -69.09px;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 18px;
    color: #121212;
  }
  .logout-container {
    position: relative;
    width: 184px;
    height: 80px;
    left: 973px;
    top: -126px;
    background: #f7f7f7;
  }
  .logout-icon {
    position: absolute;
    width: 35px;
    height: 30px;
    left: 142.1px;
    top: 25px;
  }
  .btn {
    position: absolute;
    width: 204.66px;
    height: 83.38px;
    left: -22px;
    top: -1px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 66px;
    color: #ae2718;
  }
  .logout-underscore {
    position: absolute;
    width: 75px;
    height: 0px;
    left: 45px;
    top: 58px;
    border: 1px solid #ae2718;
  }
}
