html,
body {
  height: 100%;
}
@media (min-width: 1440px) {
  .flex-container {
    width: 100%;
    height: 100%;
    background: url("/static/images/backgroundCastle.jpg");
    display: flex;
  }
  .login-wrapper {
    width: 30%;
    height: 60%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 9%;
  }
  .logo-container {
    background: url("/static/images/logo.png");
    width: 41%;
    height: 50%;
    background-size: 240px auto;
    margin: 0 auto;
  }
  .form {
    position: relative;
    top: 50%;
    left: 44%;
    height: 40%;
    width: 13.1%;
  }
  #username {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: -20%;
    font-size: 20px;
    text-align: center;
  }
  #password {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: -4%;
    font-size: 20px;
    text-align: center;
  }
  .login-button {
    border-radius: 15px;
    width: 6.25rem;
    height: 3.125rem;
    background: white;
    border: 2px solid black;
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    left: 47.9%;
    top: 55%;
  }
  .username-line {
    border-top: 2px solid white;
    width: 15.625rem;
    position: relative;
    top: -12%;
  }
  .password-line {
    border-top: 2px solid white;
    width: 15.625rem;
    position: relative;
    top: 4%;
  }
}
