html, body{
    height: 100%;
}
.flex-container {
  width: 100%;
  height: 100%;
  background: url("/static/images/backgroundCastle.jpg");
  display: flex;
}
.login-wrapper {
  width: 32.875rem;
  height: 36.563rem;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  margin-top: 12rem;
}
.logo-container{
    background: url("/static/images/logo.png");
    width: 15rem;
    height: 12.5rem;
    background-size: 240px auto;
    margin: 0 auto;
}
#username{
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 3.75rem;
    position: relative;
    top: 1.25rem;
    font-size: 20px;
    text-align: center;
}
#password{
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 3.75rem;
    position: relative;
    top: 1.25rem;
    font-size: 20px;
    text-align: center;
}
.login-button {
    border-radius: 15px;
    width: 6.25rem;
    height: 3.125rem;
    background: white;
    border: 2px solid black;
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    left: 40%;
}
.username-line{
    border-top: 2px solid white;
    width: 15.625rem;
}
.password-line{
    border-top: 2px solid white;
    width: 15.625rem;
}
