html,
body {
  height: 100%;
}
@media (min-width: 834px){
  .flex-container {
    width: 100%;
    height: 100%;
    background: url("/static/images/backgroundCastle.jpg");
    display: flex;
  }
  .login-wrapper {
    width: 600px;
    height: 620px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 150px;
  }
  .logo-container {
    background: url("/static/images/logo.png");
    width: 250px;
    height: 250px;
    background-size: 250px auto;
    position: relative;
    left: 31%;
    top: 40px;
  }
  .form {
    position: relative;
    top: 10%;
    left: 31%;
    height: 40%;
    width: 250px;
  }
  #username {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: -10%;
    font-size: 20px;
    text-align: center;
  }
  #password {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: -9%;
    font-size: 20px;
    text-align: center;
  }
  .login-button {
    border-radius: 15px;
    width: 105px;
    height: 45px;
    background: white;
    border: 2px solid black;
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    left: 44%;
    top: -15%;
  }
  .username-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: -12%;
  }
  .password-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: -15%;
  }
}

@media (min-width: 1440px) {
  .flex-container {
    width: 100%;
    height: 100%;
    background: url("/static/images/backgroundCastle.jpg");
    display: flex;
  }
  .login-wrapper {
    width: 600px;
    height: 620px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 150px;
  }
  .logo-container {
    background: url("/static/images/logo.png");
    width: 250px;
    height: 250px;
    background-size: 250px auto;
    position: relative;
    left: 31%;
    top: 40px;
  }
  .form {
    position: relative;
    top: 10%;
    left: 31%;
    height: 40%;
    width: 250px;
  }
  #username {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: -10%;
    font-size: 20px;
    text-align: center;
  }
  #password {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: -9%;
    font-size: 20px;
    text-align: center;
  }
  .login-button {
    border-radius: 15px;
    width: 105px;
    height: 45px;
    background: white;
    border: 2px solid black;
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    left: 44%;
    top: -15%;
  }
  .username-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: -12%;
  }
  .password-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: -15%;
  }
}
