html,
body {
  height: 100%;
}
@media only screen and (min-width: 375px){
  .flex-container {
    width: 100%;
    height: 100%;
    background: url("/static/images/backgroundCastle.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .welcome-header{
    display: none;
    justify-content: center;
  }
  .welcome-text{
    display: none;
    width: 35%;
    font-size: 1.1rem;
    font-family: sans-serif;
  }
  
  .login-wrapper {
    width: 100%;
    height: 60%;
    background: rgba(255, 255, 255, 0.5);
  }
  .logo-container {
    background: url("/static/images/logo.png");
    width: 250px;
    height: 250px;
    background-size: 250px auto;
    margin: 0 auto;
  }
  .form {
    height: 40%;
    width: 250px;
    margin: 0 auto;
    margin-top: -3%;
  }
  #username {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: 9%;
    font-size: 20px;
    text-align: center;
  }
  #password {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: 7%;
    font-size: 20px;
    text-align: center;
  }
  .login-button {
    border-radius: 15px;
    width: 105px;
    height: 45px;
    background: white;
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 30%;
}
  .username-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: 5%;
  }
  .password-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: 1%;
  }
}

@media (min-width: 834px){
  .flex-container {
    width: 100%;
    height: 100%;
    background: url("/static/images/backgroundCastle.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .welcome-header{
    display: none;
    justify-content: center;
  }
  .welcome-text{
    display: none;
    width: 35%;
    font-size: 1.1rem;
    font-family: sans-serif;
  }
  
  .login-wrapper {
    width: 60%;
    height: 65%;
    background: rgba(255, 255, 255, 0.5);
  }
  .logo-container {
    background: url("/static/images/logo.png");
    width: 250px;
    height: 250px;
    background-size: 250px auto;
    margin: 0 auto;
  }
  .form {
    height: 40%;
    width: 250px;
    margin: 0 auto;
    margin-top: -3%;
  }
  #username {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: 9%;
    font-size: 20px;
    text-align: center;
  }
  #password {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: 7%;
    font-size: 20px;
    text-align: center;
  }
  .login-button {
    border-radius: 15px;
    width: 105px;
    height: 45px;
    background: white;
    border: 1px solid white;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 30%;
}

  .username-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: 5%;
  }
  .password-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: 1%;
  }
}

@media (min-width: 1440px) {
  .flex-container {
    width: 100%;
    height: 100%;
    background: url("/static/images/backgroundCastle.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .welcome-header{
    display: flex;
    justify-content: center;
  }
  .welcome-text{
    display: block;
    width: 35%;
    font-size: 1.1rem;
    font-family: sans-serif;
  }
  .header-link{
    color: #212529;
  }
  .header-link:hover{
    color:#bd2716;
    transition: 0.5s;
  }

  .login-wrapper {
    width: 35%;
    height: 65%;
    background: rgba(255, 255, 255, 0.5);
  }
  
  .logo-container {
    background: url("/static/images/logo.png");
    width: 250px;
    height: 250px;
    background-size: 250px auto;
    margin: 0 auto;
  }
   
  .form {
    height: 40%;
    width: 250px;
    margin: 0 auto;
    margin-top: -3%;
  }
  #username {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: 9%;
    font-size: 20px;
    text-align: center;
  }
  #password {
    width: 100%;
    background: transparent;
    border: transparent;
    outline: transparent;
    height: 11%;
    position: relative;
    top: 7%;
    font-size: 20px;
    text-align: center;
  }
  .login-button {
    border-radius: 15px;
    width: 105px;
    height: 45px;
    background: white;
    border: 1px solid transparent;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 30%;
}
.login-button:hover {
  background-color: #bd2716;
  transition: 0.5s;
  color: white;
}
  .username-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: 5%;
  }
  .password-line {
    border-top: 2px solid white;
    width: 255px;
    position: relative;
    top: 1%;
  }
}
