html,
body {
  height: 100%;
  margin: 0;
}
@media only screen and (min-width: 375px) {
  #grid-item {
    width: 150px;
    height: 125px;
    background: #ae2718;
    border: 1px solid transparent;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    font-style: normal;
    }
  
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .flex-container {
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: space-evenly;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 19%;
  }
}
@media (min-width: 834px) {
  #grid-item {
    width: 250px;
    height: 150px;
    background: #ae2718;
    border: 1px solid transparent;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    font-style: normal;
  }
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .flex-container {
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex: 0 0 33%;
  }
}

@media (min-width: 1440px) {
  #grid-item {
    width: 250px;
    height: 150px;
    background: #ae2718;
    border: 1px solid transparent;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    font-style: normal;
  }
  #grid-item:hover {
    background-color: #910f01;
    transition: 0.5s;
  }
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  .flex-container {
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 34px;
    flex: 0 0 20%;
  }
}
