{% extends 'portalen/loginbase.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="flex-container">
      <div class="login-wrapper">
        <div class="logo-container"></div>
        <form
          action=""
          class="form"
          id="login-form"
          method="POST"
          autocomplete="off"
        >
          {% csrf_token %}
          <input
            id="username"
            name="username"
            type="text"
            placeholder="Användarnamn"
          />
          <hr class="username-line" />
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Lösenord"
          />
          <hr class="password-line" />
          <input
            class="login-button"
            name="submit"
            type="submit"
            value="Logga In"
          />
        </form>
        {{ form.errors }}
      </div>
    </div>
  </body>
</html>

{% endblock %}
