{% extends 'portalen/base.html' %} {% load static %} {% block content %}
/* button */

position: absolute;
width: 227.28px;
height: 110.72px;
left: 359px;
top: 171px;



/* Rectangle 10 */

position: absolute;
width: 227.28px;
height: 110.72px;
left: 359px;
top: 171px;

background: #AE2718;


/* Reklam / PR / Trycksaker */

position: absolute;
width: 227.28px;
height: 20px;
left: 359px;
top: 246px;

font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #FFFFFF;



/* Group 1 */

position: absolute;
width: 27.68px;
height: 27.68px;
left: 459px;
top: 193.14px;



/* Vector */

position: absolute;
left: 32.26%;
right: 66.59%;
top: 18.86%;
bottom: 80.19%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 31.88%;
right: 66.2%;
top: 19.81%;
bottom: 78.98%;

border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 32.26%;
right: 66.59%;
top: 20.48%;
bottom: 78.44%;

border: 2px solid #FFFFFF;

{% endblock %}
